Repository Mum1111/qr_html_next: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

feat: 基本样式
  .prettierrc.json
  app/layout.tsx
  app/page.tsx
Due: eslint --fix

feat: 二维码交互
  app/page.tsx
  package-lock.json
  package.json
  public/2221.png
  public/2223.png
  public/next.svg
  public/vercel.svg
Due: eslint --fix

feat: 二维码下载交互
  app/page.tsx
Due: eslint --fix

feat: 修改检查分析
  app/page.tsx
Due: eslint --fix

feat: 样式优化
  app/page.tsx
Due: eslint --fix

feat: 下载尺寸修正
  app/page.tsx
Due: eslint --fix

feat: 引入next-auth模块
  .env
  .gitignore
  app/components/LoginBtn.tsx
  app/layout.tsx
  app/page.tsx
  lib/auth/auth.ts
  package-lock.json
  package.json
  pages/api/auth/[...nextauth].ts
Due: eslint --fix

回滚auth-next
  .env
  .gitignore
  app/components/LoginBtn.tsx
  app/layout.tsx
  app/page.tsx
  lib/auth/auth.ts
  package-lock.json
  package.json
  pages/api/auth/[...nextauth].ts
Due: eslint --fix

feat: 重写next-auth
  .gitignore
  app/api/auth/[...nextauth]/route.ts
  app/components/LoginButton.tsx
  app/page.tsx
  package-lock.json
  package.json
Due: eslint --fix

feat: 配置jwt信息
  app/api/auth/[...nextauth]/route.ts
  app/components/LoginButton.tsx
Due: eslint --fix

feat: 连接数据库
  .eslintignore
  .lintstagedrc.json
  .stylelintignore
  app/api/auth/[...nextauth]/route.ts
  app/globals.css
  app/layout.tsx
  package-lock.json
  package.json
  prisma/migrations/20230731093135_user/migration.sql
  prisma/migrations/migration_lock.toml
  prisma/schema.prisma
  types/next-auth.d.ts
Due: eslint --fix, stylelint --fix

feat: 支持邮箱登录
  app/api/auth/[...nextauth]/route.ts
  app/page.tsx
Due: eslint --fix

feat: 完成appbar
  app/components/LoginButton.tsx
  app/components/MenuAppBar.tsx
  app/page.tsx
  package-lock.json
  package.json
  tailwind.config.js
Due: eslint --fix

feat: 解决tailwind和mui的冲突
  app/components/MenuAppBar.tsx
  app/page.tsx
  app/user/page.tsx
  package-lock.json
  package.json
  tailwind.config.js
Due: eslint --fix

feat: 编辑个人信息页面
  app/page.tsx
  app/user/page.tsx
Due: eslint --fix

feat: 完成用户信息编辑功能
  app/api/user/route.ts
  app/layout.tsx
  app/page.tsx
  app/user/page.tsx
Due: eslint --fix

feat: 完成图片上传oss
  app/api/common/upload/alioss.ts
  app/api/common/upload/route.ts
  app/page.tsx
  package-lock.json
  package.json
Due: eslint --fix

feat: logo url落盘
  README.md
  app/api/common/upload/route.ts
  prisma/migrations/20230810101810_logo_table/migration.sql
  prisma/schema.prisma
Due: eslint --fix

对接口进行封装
  README.md
  app/page.tsx
  hooks/service/logo.ts
  utils/request.ts
Due: eslint --fix

fix: 修复和mui的样式冲突
  app/layout.tsx
  app/page.tsx
  package-lock.json
  package.json
  tailwind.config.js
Due: eslint --fix

feat: 引入baseline
  app/layout.tsx
Due: eslint --fix

feat: 完成logo的获取
  .gitignore
  README.md
  app/api/common/logo/route.ts
  app/api/user/route.ts
  app/components/LoginButton.tsx
  app/components/LogoList.tsx
  app/page.tsx
  hooks/service/logo.ts
  hooks/swrHooks/logo.ts
  next.config.js
  types/request.ts
Due: eslint --fix

feat: 优化logolist
  README.md
  app/components/LogoList.tsx
  app/page.tsx
Due: eslint --fix

fix: 修复canvas导出时跨域的问题
  app/components/LogoList.tsx
  app/page.tsx
Due: eslint --fix

feat: 样式细节优化
  README.md
  app/components/LogoList.tsx
  app/components/MenuAppBar.tsx
  app/globals.css
  app/layout.tsx
  app/page.tsx
Due: eslint --fix, stylelint --fix

feat: 配色与样式文件调整
  app/components/MenuAppBar.tsx
  app/globals.css
  app/layout.tsx
  app/page.tsx
  config/theme.js
  tailwind.config.js
Due: eslint --fix, stylelint --fix

fix: 修复部署报错的问题
  README.md
  app/api/common/logo/route.ts
  app/components/MenuAppBar.tsx
Due: eslint --fix

fix: 修复引用错误的类型的报错
  app/api/common/upload/route.ts
Due: eslint --fix

fix: 修复prisma/client导出的问题
  hooks/swrHooks/logo.ts
Due: eslint --fix

feat: 新增构件命令
  hooks/swrHooks/logo.ts
  package.json
Due: eslint --fix

fix: 调整prisma构建时的问题
  package.json
  prisma/schema.prisma
Due: none

fix: prisma客户端初始化问题
  package.json
Due: none

fix: 去除多余命令
  package.json
Due: none

fix: 解决prisma导出成员不存在的问题
  hooks/swrHooks/logo.ts
Due: eslint --fix

fix: 调整依赖
  package-lock.json
  package.json
  prisma/schema.prisma
Due: none

feat: 配置nextauthurl
  README.md
  vercel.json
Due: none

feat: 暂时取消github登录
  app/api/auth/[...nextauth]/route.ts
Due: eslint --fix

feat: 打开github登录
  app/api/auth/[...nextauth]/route.ts
Due: eslint --fix

feat: 安装vercel分析插件
  app/layout.tsx
  package-lock.json
  package.json
Due: eslint --fix

fix: 点击登录按钮后报404的问题
  app/components/MenuAppBar.tsx
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.{js,jsx,vue,ts,tsx}
  stylelint --fix: any of: *.{vue,css,scss}
